/*
 * CSS File for the solution
 * Assignment 03
 * You can modify these styles but you don't have to
 */


/*SETTING UP STYLES LATER*/
/*CURRENT STYLES FOR TESTING JAVASCRIPT*/

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: rgb(185, 185, 152);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*////////////////////////////////////////////////////////////*/


.containers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  border: 2px solid black;
}

.counters{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 1rem;
}

.todoCount{
  margin-right: 1rem;
}

.deleteBtn{
  margin-right: 1rem;
}

/*////////////////////////////////////////////////////////////*/
.input{
  display: flex;
  position: relative;

}

.btn{
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  right: 0.5rem;
  border-radius: 2rem;
  align-self: center;
 
}

.inputBox{
  color: white;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 2rem;
  width: 100%;
}

input[type="text"]::placeholder{
  color: red;

}

/*////////////////////////////////////////////////////////////*/
.todoContainer{
  display: flex;
  gap: 1rem
}

ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}

li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}

#todoList{
  color: red;
}

/*////////////////////////////////////////////////////////////*/
.clearBtn{
  border: none;
}

li.completed span{
  text-decoration: line-through;
}

/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
