/*////////////////////////////////////////////////////////////*/
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-image: url("./images/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.todo ul{
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

/*////////////////////////////////////////////////////////////*/
h1 {
  margin-top: 3vw;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-shadow: 0rem 0rem 2rem black;
}

/*////////////////////////////////////////////////////////////*/
.containers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  border: 2px solid #adadad;
}

.counters{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.todoCount{
  margin-right: 1rem;
}

.deleteBtn{
  margin-right: 1rem;
}

/*////////////////////////////////////////////////////////////*/
.input{
  display: flex;
  position: relative;
}

.btn{
  margin-top: 1vw;
  color: #2b2b2b;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: 2px solid #2e2e2e;
  position: absolute;
  right: 0.5rem;
  border-radius: 2rem;
  align-self: center;
  margin-bottom: 3vw;
}

.btn:hover{
  background-color: white;
  color: green;
  cursor: pointer;
}

.inputBox{
  margin-top: 1vw;
  color: white;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: pink;
  border: 2px solid #2e2e2e;
  border-radius: 2rem;
  width: 100%;
  margin-bottom: 3vw;
}

.inputBox:focus{
  outline: none;
}

input[type="text"]::placeholder{
  color: black;
}

/*////////////////////////////////////////////////////////////*/
.todoContainer{
  display: flex;
  gap: 1rem
}

ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin; /* For Firefox */
  -ms-overflow-style: thin; /* For Internet Explorer and Edge */
  scrollbar-color: #d4d4d4 transparent;
}

li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid #adadad;
  border-radius: 3rem;
}

#todoList{
  color: rgb(44, 43, 43);
  font-weight: 600;
}

/*////////////////////////////////////////////////////////////*/
.clearBtn{
  border: none;
  background: none;
  color: #cf9e9e;
  font-weight: 900;
}

.clearBtn:hover{
  color: #0956e6;
  cursor: pointer;
}

.doneCount span{
  color: green;
  font-weight: 600;
}

.todoCount span{
  color: red;
  font-weight: 600;
}

/*////////////////////////////////////////////////////////////*/
li span{
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

li.completed span{
  text-decoration: line-through;
  color: #adadad;
}

li.completed{
  border-style:dashed;
}

.deleteTask{
  margin-right: 1rem;
  color: #cf9e9e;
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
}

.deleteTask:hover{
  color: #e60909;
}

.list input[type="checkbox"]{
  margin-left: 1rem;
}